<mat-tab-group>
    <mat-tab label="Texto">
        <form (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Título</mat-label>
                <input matInput type="text" name="titulo" [(ngModel)]="titulo" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput name="descripcion" [(ngModel)]="descripcion" rows="5" required></textarea>
            </mat-form-field>
            
            <button mat-button color="primary" type="submit">Enviar</button>
        </form>
    </mat-tab>
    <mat-tab label="Contenido multimedia"> Content 2 </mat-tab>
</mat-tab-group>