<header class="bg-white py-2">
<div class="container-fluid">
<div class="d-flex flex-wrap align-items-center justify-content-between">
    <div class="d-flex align-items-center mb-2 mb-lg-0">
    <img src="../../assets/images/MangoLogo.png" alt="Logo" class="m-2">
    <h3 class="mb-0">ManguitosGaming</h3>
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-center gap-2">
    <div class="d-flex align-items-center mb-2 mb-lg-0">
        <input matInput placeholder="Buscar comunidad o usuario" class="form-control me-2">
        <mat-icon matPrefix>search</mat-icon>
    </div>
    <div class="d-flex gap-2">
    <button class="rounded-5 custom-button">Iniciar sesión</button>
    <button class="reg-btn rounded-5 p-2">Registrarse</button>
    </div>
    </div>
</div>
</div>
</header>
