<div class="admin-community-layout">
  <mat-card class="side-card">
    <mat-card-title class="m-2">Opciones</mat-card-title>
    <mat-card-content>
      <nav>
        <button mat-button (click)="scrollTo('usuarios-section')">Administrar usuarios</button>
        <button mat-button (click)="scrollTo('reportes-section')">Ver reportes</button>
        <button mat-button (click)="editarComunidad()">Editar información de la comunidad</button>
        <button mat-flat-button (click)="borrarComunidad(comunidadId)">Borrar comunidad</button>
      </nav>
    </mat-card-content>
  </mat-card>

  <div class="main-content">
    <button mat-stroked-button color="primary" (click)="goBack()" class="mb-2">
      <mat-icon>arrow_back</mat-icon>
      Volver
    </button>
    <h2 id="usuarios-section">Usuarios de la comunidad</h2>
    <!-- Campo de búsqueda -->
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>Buscar por nombre</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Escribe un nombre">
    </mat-form-field>

    <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" *ngIf="usuarios.data.length > 0; else noUsuarios">
      <!-- Columna Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.nombre }} </td>
      </ng-container>

      <!-- Columna Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.email }} </td>
      </ng-container>

      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let usuario" class="acciones-cell">
          <button mat-raised-button color="primary" (click)="verPerfil(usuario.id)">Ver perfil</button>
          <button mat-raised-button color="warn" (click)="expulsarUsuario(usuario)">Vetar</button>
          <button mat-raised-button color="accent" (click)="echarUsuario(usuario)">Echar</button>
        </td>
      </ng-container>

      <!-- Encabezado y filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #usuariosPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <ng-template #noUsuarios>
      <p>No hay usuarios en esta comunidad.</p>
    </ng-template>

    <h2 id="reportes-section" class="m-3">Reportes de la comunidad</h2>

    <!-- Filtro por rango de fechas -->
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>Filtrar por fecha</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Fecha inicio" [(ngModel)]="fechaInicio" (ngModelChange)="filtrarPorFecha()">
        <input matEndDate placeholder="Fecha fin" [(ngModel)]="fechaFin" (ngModelChange)="filtrarPorFecha()">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <table mat-table [dataSource]="reportes" class="mat-elevation-z8" *ngIf="reportes.data.length > 0; else noReportes">
      <!-- Columna Fecha -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let reporte"> {{ reporte.fechaReporte | date: 'short' }} </td>
      </ng-container>

      <!-- Columna Motivo -->
      <ng-container matColumnDef="motivo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Motivo </th>
        <td mat-cell *matCellDef="let reporte"> {{ reporte.motivo }} </td>
      </ng-container>

      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let reporte"  class="acciones-cell">
          <button mat-raised-button (click)="borrarReporte(reporte.id)" class="m-2">Borrar reporte</button>
          <button mat-raised-button (click)="borrarPublicacion(reporte.publicacionId)" class="m-2">Borrar publicacion</button>
          <button mat-raised-button [routerLink]="['/publicacion', reporte.publicacionId]" *ngIf="reporte.publicacionId" class="m-2">Ver publicación</button>
        </td>
      </ng-container>

      <!-- Encabezado y filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumnsReportes"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsReportes;"></tr>
    </table>
    <mat-paginator #reportesPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <ng-template #noReportes>
      <p>No hay reportes disponibles para esta comunidad.</p>
    </ng-template>

    <h2 id="expulsiones-section" class="m-3">Expulsiones de la comunidad</h2>
    <table mat-table [dataSource]="expulsados" class="mat-elevation-z8" *ngIf="expulsados.length > 0; else noExpulsados">
      <!-- Columna Usuario -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let expulsado"> {{ expulsado.usuarioNombre }} </td>
      </ng-container>

      <!-- Columna Motivo -->
      <ng-container matColumnDef="razon">
        <th mat-header-cell *matHeaderCellDef> Motivo </th>
        <td mat-cell *matCellDef="let expulsado"> {{ expulsado.razon }} </td>
      </ng-container>

      <!-- Columna Fecha Fin -->
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef> Fin de expulsión </th>
        <td mat-cell *matCellDef="let expulsado">
          <span>
            {{ expulsado.fechaFin ? (expulsado.fechaFin | date:'short') : 'Permanente' }}
          </span>
        </td>
      </ng-container>

      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let expulsado" class="acciones-cell">
            <button mat-button color="primary" (click)="abrirModalFecha(expulsado)">Cambiar fecha</button>
          <button mat-raised-button color="warn" (click)="borrarExpulsion(expulsado)">Eliminar expulsión</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['usuario', 'razon', 'fechaFin', 'acciones']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['usuario', 'razon', 'fechaFin', 'acciones'];"></tr>
    </table>
    <ng-template #noExpulsados>
      <p>No hay usuarios expulsados actualmente.</p>
    </ng-template>
  </div>
</div>
