//Estilos usados en formularios de identificación

.identification__form {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-color: var(--form-bg-color);
}

.identification__content {
    border: 1px solid black;
    border-radius: 18px;
    padding: 50px;
    background-color:var(--form-content-bg-color);
    h2 {
        color: var(--text-color);
        text-align: center;
        margin-bottom: 20px;
    }
}

mat-form-field {
    width: 100%;
    margin-top: 20px;
}

.buttons__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    button{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }
}
  ////////////////////////////////////////////////////////////////////////