.post-card {
    margin-bottom: 16px;
}

.post-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-left: 16px;

    mat-icon {
        cursor: pointer;

        &:hover {
            color: var(--selected-color);
        }
    }
}

.post-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.post-details {
    flex: 1;
}

.comentario-formulario {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comentario-formulario button {
    align-self: flex-end; /* Mueve el botón a la derecha */
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 14px;
}

.avatar-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
    margin-right: 10px; 
}
.comment{
    margin-left: 60px;
}

.respuestas{
    margin-left: 20px;
}
.respuesta-lista{
    margin-left: 25px;
}

.back-button {
    margin: 10px;
    display: flex;
    align-items: center;

    button {
        background-color: none;
        border: 1px solid black;
        cursor: pointer;
    } :hover {
        background-color: var(--hover-color);
    }
}