<footer class="text-center text-lg-start">
  <div class=" p-4">
    <div class="row justify-content-center">
      <!-- Logo y créditos -->
      <div class="col-lg-5 col-md-12 mb-4 mb-md-0 text-start d-flex align-items-center justify-content-center flex-column flex-lg-row">
        <img src="../../../assets/images/MangoLogo.png" alt="Logo" class="me-3 mb-3 mb-lg-0">
        <p class="mt-2 mb-0 text-center">© 2025 ManguitosGaming. Todos los derechos reservados.</p>
      </div>

      <!-- Redes sociales -->
      <div class="col-lg-5 col-md-12 mb-4 mb-md-0 text-center">
        <div class="d-flex justify-content-center align-items-center flex-wrap">
          <a href="https://twitter.com" class="me-3 text-dark social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://facebook.com" class="me-3 text-dark social-icon">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://instagram.com" class="me-3 text-dark social-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://youtube.com" class="text-dark social-icon">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
        <p class="mt-2">¿Dónde puedes encontrarnos?</p>
      </div>
    </div>
  </div>
</footer>