<div class="main-view-community">
    <div class="main-content">
        <div class="community-header" [style.backgroundImage]="'url(assets/images/MangoLogo.png)'">
            <div class="community-header-content">
                <img class="community-avatar" [src]="comunidad?.imagenAvatar || 'assets/images/MangoLogo.png'" alt="Avatar de la comunidad">
                <span class="community-name">Publicaciones de m/{{ comunidad?.nombre }}</span>
                <div class="community-actions">
                    <button mat-raised-button color="primary" *ngIf="usuarioLogado" [routerLink]="['/crear-publicacion', comunidad?.id]">Crear publicación</button>
                    <button mat-raised-button color="accent"  (click)="joinComunidad()" *ngIf="usuarioLogado && !pertenece">Unirse</button>
                    <button mat-raised-button color="warn" *ngIf="pertenece" (click)="abandonarComunidad()">Abandonar</button>
                    <button mat-raised-button color="warn" *ngIf="usuarioLogado?.id === comunidad.idUsuAdmin">Administrar</button>
                </div>
            </div>
        </div>
        <div class="posts-section">
            <h2>Publicaciones de la comunidad {{ comunidadId }}</h2>
            <div *ngIf="posts.length > 0; else noPosts">
                <div *ngFor="let post of posts" class="post">
                    <mat-card class="post-card">
                        <div class="post-content">
                            <div class="post-votes">
                                <mat-icon>arrow_upward</mat-icon>
                                <span>{{ post.votos || 0 }}</span>
                                <mat-icon>arrow_downward</mat-icon>
                            </div>
                            <div class="post-details">
                                <mat-card-header>
                                    <mat-card-title>{{ post.titulo }}</mat-card-title>
                                    <mat-card-subtitle>
                                        Publicado por u/{{ post.usuario }} en m/{{ comunidad?.nombre }}
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{ post.contenido }}</p>
                                </mat-card-content>
                                <mat-card-actions *ngIf="comunidad?.idUsuAdmin == usuarioLogado?.id">
                                    <button mat-button color="warn" (click)="borrarPost(post.id)">Borrar</button>
                                </mat-card-actions>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <ng-template #noPosts>
                <p>No hay publicaciones disponibles para esta comunidad.</p>
            </ng-template>
        </div>
    </div>
    <div class="community-info">
        <mat-card class="community-info-card">
            <mat-card-header>
                <mat-card-title>Información de la comunidad</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="info-item">
                    <mat-icon>description</mat-icon>
                    <span><strong>Descripción:</strong> {{ comunidad?.descripcion || 'Sin descripción' }}</span>
                </div>
                <div class="info-item">
                    <mat-icon>rule</mat-icon>
                    <span><strong>Reglas:</strong> Respeto a los miembros. Hacer publicaciones relacionadas con la comunidad. Evitar hablar de piratería y temas ilegales.</span>
                </div>
                <div class="info-item">
                    <mat-icon>calendar_today</mat-icon>
                    <span><strong>Fecha de creación:</strong> {{ comunidad?.fechaCreacion | date:'dd/MM/yyyy' }}</span>
                </div>
                <div class="info-item">
                    <mat-icon>group</mat-icon>
                    <span><strong>Número de miembros:</strong> {{ comunidad?.numMiembros || '0' }} miembros</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>